services:
  bot:
    image: ghcr.io/wamom-question/nenelobo/bot:latest
    volumes:
      - ./data:/app/data
    env_file: .env
    depends_on:
      - python-result-calc
      - python-announce-fetcher
    networks:
      - botnet
    restart: always
    
  python-result-calc:
    image: ghcr.io/wamom-question/nenelobo/python-result-calc:latest
    volumes:
      - ./data:/app/data
    ports:
      - "53744:53744"
    networks:
      - botnet
    restart: always

  python-announce-fetcher:
    image: ghcr.io/wamom-question/nenelobo/python-announce-fetcher:latest
    networks:
      - botnet
    restart: always

networks:
  botnet: