services:
  bot:
    image: ghcr.io/wamom-question/nenelobo/bot:latest
    volumes:
      - ./data:/app/data
    env_file: .env
    depends_on:
      - python-result-calc
      - announce-fetcher
    networks:
      - botnet
    restart: always
    
  python-result-calc:
    image: ghcr.io/wamom-question/nenelobo/python-result-calc:latest
    volumes:
      - ./data:/app/data
      - ./assets:/app/assets
      - ./model:/root/.EasyOCR/model
    ports:
      - "53744:53744"
    networks:
      - botnet
    restart: always

  announce-fetcher:
    image: ghcr.io/wamom-question/nenelobo/announce-fetcher:latest
    volumes:
      - ./data:/app/data
    networks:
      - botnet
    restart: always

  assetdata-downloader:
    image: ghcr.io/wamom-question/nenelobo/assetdata-downloader:latest
    volumes:
      - ./assets:/app/assets
    command: ["sh", "-c", "mkdir -p /app/data && /app/downloader"]
    deploy:
      restart_policy:
        condition: on-failure

networks:
  botnet: